### Import all the libraries here

In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Read data here

In [39]:
fees = pd.read_csv("./project_dataset/extract - fees - data analyst - .csv")
cash_req = pd.read_csv("./project_dataset/extract - cash request - data analyst.csv")

df_fees = fees.copy()
df_cash_req = cash_req.copy()

### Go through your data here

In [40]:
df_fees.head(10)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after
5,17029,24052.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 24052,2020-10-24 12:22:27.666102+00,2020-10-24 12:22:27.666124+00,2020-11-09 19:10:14.47407+00,NaN,NaN,after
6,19956,25983.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25983,2020-10-30 04:38:06.826149+00,2020-10-30 04:38:06.826173+00,2020-12-21 13:52:27.94128+00,NaN,NaN,after
7,14187,14839.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-10-16 23:48:50.655967+00,2020-10-16 23:48:50.655988+00,2020-11-05 14:15:36.600041+00,NaN,NaN,after
8,20539,26572.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26572,2020-10-31 05:29:08.4718+00,2020-10-31 05:29:08.471822+00,2020-11-28 19:41:43.667114+00,NaN,NaN,after
9,15431,22106.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 22106,2020-10-21 08:48:50.696961+00,2020-10-21 08:48:50.696991+00,NaN,2020-11-04 22:00:00+00,2020-11-05 11:00:00+00,before

In [41]:
df_fees["id"].is_unique

True

In [42]:
df_fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  object
 8   updated_at       21061 non-null  object
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB

In [43]:
df_fees.shape

(21061, 13)

In [44]:
df_cash_req.head(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
5,2145,100.0,money_back,2020-05-23 20:58:55.129432+00,2020-07-06 03:36:03.023911+00,9489.0,2020-05-24 12:40:33.05491+00,NaN,2020-06-06 22:00:00+00,2020-05-26,2020-07-06 03:36:03.023521+00,regular,NaN,completed,2020-06-12 22:27:04.837525+00,2020-07-06 03:36:03.030904+00
6,3512,100.0,rejected,2020-06-16 17:07:38.452652+00,2020-06-17 10:21:21.364746+00,14631.0,2020-06-17 10:21:21.360742+00,NaN,2020-07-11 23:51:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
7,654,100.0,rejected,2020-02-10 01:11:53.80827+00,2020-02-10 11:53:32.104131+00,NaN,2020-02-10 09:11:21.350695+00,309.0,2020-03-11 01:11:53.80793+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
8,5672,100.0,canceled,2020-06-28 12:06:33.71284+00,2020-06-28 12:06:33.712853+00,NaN,NaN,2499.0,2020-07-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
9,71,90.0,rejected,2019-12-10 19:51:23.911206+00,2019-12-12 15:06:11.192888+00,897.0,2019-12-12 15:06:11.190299+00,NaN,2019-12-17 19:51:23.910748+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [45]:
df_cash_req.tail(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
23960,26969,50.0,direct_debit_sent,2020-11-01 17:31:03.345533+00,2021-01-06 09:07:31.575691+00,3377.0,NaN,NaN,2021-02-05 09:06:00+00,2020-11-02,NaN,instant,2020-11-01 17:31:25.526137+00,NaN,NaN,NaN
23961,18579,100.0,money_back,2020-09-30 14:28:32.645872+00,2021-02-06 20:16:09.51101+00,57130.0,2020-09-30 17:09:57.946096+00,NaN,2021-02-06 11:00:00+00,2020-10-01,2021-02-06 20:16:09.463799+00,instant,2020-10-07 14:28:32.601819+00,NaN,NaN,NaN
23962,26979,100.0,money_back,2020-11-01 19:08:24.111371+00,2021-02-05 20:48:23.270789+00,102737.0,NaN,NaN,2021-02-05 22:00:00+00,NaN,2021-02-05 20:48:23.237207+00,instant,2020-11-01 19:08:48.445188+00,NaN,NaN,NaN
23963,7930,100.0,money_back,2020-07-14 08:55:09.360786+00,2021-02-05 12:04:06.194796+00,31413.0,2020-07-14 12:00:53.394529+00,NaN,2020-08-05 22:00:00+00,2020-07-16,2021-02-05 12:04:06.144421+00,regular,NaN,completed,2020-08-11 22:25:55.349356+00,2021-02-05 12:04:06.147841+00
23964,16834,100.0,money_back,2020-09-19 07:37:14.351567+00,2021-02-05 12:11:58.186458+00,20064.0,2020-09-19 15:37:54.670099+00,NaN,2020-10-05 22:00:00+00,2020-09-22,2021-02-05 12:11:58.131036+00,instant,2020-09-26 07:37:14.299162+00,completed,2020-10-15 22:27:12.949488+00,2021-02-05 12:11:58.134306+00
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00,2021-02-06 20:17:49.292493+00,13681.0,NaN,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,2020-10-12 13:54:24.352856+00,NaN,NaN,NaN
23966,25243,50.0,money_back,2020-10-27 14:41:25.73491+00,2020-12-18 13:15:40.843946+00,NaN,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,2020-10-27 14:41:57.901946+00,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00,2021-02-05 12:19:30.656816+00,82122.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,2020-10-20 07:58:14.171553+00,NaN,NaN,NaN
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,2020-10-10 05:41:23.368363+00,NaN,NaN,NaN
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,2020-10-08 14:17:04.526139+00,NaN,NaN,NaN

In [46]:
df_cash_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB

In [47]:
df_cash_req.shape

(23970, 16)

In [48]:
df_cash_req["status"].value_counts()

status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

In [49]:
df_cash_req["user_id"].value_counts()

user_id
3377.0     19
2142.0     18
13851.0    18
15219.0    17
10086.0    17
           ..
89669.0     1
83075.0     1
821.0       1
1248.0      1
163.0       1
Name: count, Length: 10798, dtype: int64

In [50]:
df_cash_req.groupby("user_id").get_group(3377.0)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
30,1540,100.0,rejected,2020-05-04 04:23:57.148763+00,2020-05-04 09:23:14.319562+00,3377.0,2020-05-04 09:23:14.315961+00,NaN,2020-05-13 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
229,936,100.0,rejected,2020-03-18 08:05:49.092391+00,2020-03-18 08:22:00.771204+00,3377.0,2020-03-18 08:22:00.765917+00,NaN,2020-04-07 23:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
230,830,100.0,rejected,2020-03-09 13:31:06.855375+00,2020-03-10 15:19:51.446776+00,3377.0,2020-03-10 15:19:51.44363+00,NaN,2020-04-07 23:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
251,1369,100.0,rejected,2020-04-24 18:51:10.588402+00,2020-04-25 16:14:41.766283+00,3377.0,2020-04-25 16:14:41.762808+00,NaN,2020-05-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
408,2243,70.0,rejected,2020-05-28 14:39:45.591884+00,2020-05-28 15:09:51.861408+00,3377.0,2020-05-28 15:09:51.856835+00,NaN,2020-06-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
443,987,100.0,rejected,2020-03-25 09:12:17.659574+00,2020-03-25 11:03:03.769282+00,3377.0,2020-03-25 11:03:03.765488+00,NaN,2020-04-07 23:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
614,1684,50.0,rejected,2020-05-11 17:08:36.422278+00,2020-05-12 09:34:24.288027+00,3377.0,2020-05-12 09:34:24.283871+00,NaN,2020-06-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
729,1019,50.0,rejected,2020-04-01 16:26:07.710169+00,2020-04-02 12:27:29.647294+00,3377.0,2020-04-02 12:27:29.642561+00,NaN,2020-04-08 16:26:07.709793+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
840,2036,50.0,rejected,2020-05-19 15:52:55.868692+00,2020-05-20 08:21:46.282522+00,3377.0,2020-05-20 08:21:46.278658+00,NaN,2020-06-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1582,2819,100.0,rejected,2020-06-09 18:36:00.336349+00,2020-06-10 13:08:28.561859+00,3377.0,2020-06-10 13:08:28.554633+00,NaN,2020-07-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1664,11450,50.0,rejected,2020-08-08 06:57:10.590228+00,2020-08-08 07:25:25.221858+00,3377.0,2020-08-08 07:25:25.219405+00,NaN,2020-09-08 22:00:00+00,NaN,NaN,instant,2020-08-15 06:57:10.589775+00,NaN,NaN,NaN
1705,3642,100.0,rejected,2020-06-17 13:56:27.141261+00,2020-06-17 14:43:30.339687+00,3377.0,2020-06-17 14:43:30.335934+00,NaN,2020-07-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1920,6143,40.0,rejected,2020-07-01 14:19:01.30501+00,2020-07-01 17:11:32.717831+00,3377.0,2020-07-01 17:11:32.712199+00,NaN,2020-08-04 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2764,7832,45.0,rejected,2020-07-13 15:22:09.832988+00,2020-07-13 15:22:39.442104+00,3377.0,2020-07-13 15:22:39.439658+00,NaN,2020-08-04 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4358,10266,50.0,rejected,2020-07-31 13:12:50.911871+00,2020-07-31 14:47:58.833165+00,3377.0,2020-07-31 14:47:58.830688+00,NaN,2020-09-08 22:00:00+00,NaN,NaN,regular,2020-08-07 13:12:50.911442+00,NaN,NaN,NaN
4385,9231,50.0,rejected,2020-07-21 10:54:52.748331+00,2020-07-21 13:43:02.627733+00,3377.0,2020-07-21 13:43:02.625265+00,NaN,2020-08-04 22:00:00+00,NaN,NaN,regular,2020-07-28 10:54:52.747635+00,NaN,NaN,NaN
5206,12630,50.0,rejected,2020-08-15 13:23:34.375488+00,2020-08-15 17:09:23.784494+00,3377.0,2020-08-15 17:09:23.780343+00,NaN,2020-09-07 22:00:00+00,NaN,NaN,instant,2020-08-22 13:23:34.323198+00,NaN,NaN,NaN
5416,14530,50.0,rejected,2020-09-04 13:31:11.0583+00,2020-09-04 15:25:07.529165+00,3377.0,2020-09-04 15:25:07.519432+00,NaN,2020-10-06 22:00:00+00,NaN,NaN,instant,2020-09-11 13:31:10.995979+00,NaN,NaN,NaN
23960,26969,50.0,direct_debit_sent,2020-11-01 17:31:03.345533+00,2021-01-06 09:07:31.575691+00,3377.0,NaN,NaN,2021-02-05 09:06:00+00,2020-11-02,NaN,instant,2020-11-01 17:31:25.526137+00,NaN,NaN,NaN

In [51]:
df_cash_req["created_at"].min()

'2019-11-19 13:57:53.511561+00'

In [52]:
df_cash_req["created_at"].max()

'2020-11-01 23:42:30.847066+00'

In [53]:
id_cash = set(df_cash_req["id"])

In [54]:
id_fees = set(df_fees["cash_request_id"])

In [55]:
len(id_cash.intersection(id_fees))

12933

In [56]:
len(id_cash)

23970

In [57]:
len(id_fees)

12937

In [58]:
df_fees.head(10)

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after
5,17029,24052.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 24052,2020-10-24 12:22:27.666102+00,2020-10-24 12:22:27.666124+00,2020-11-09 19:10:14.47407+00,NaN,NaN,after
6,19956,25983.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25983,2020-10-30 04:38:06.826149+00,2020-10-30 04:38:06.826173+00,2020-12-21 13:52:27.94128+00,NaN,NaN,after
7,14187,14839.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-10-16 23:48:50.655967+00,2020-10-16 23:48:50.655988+00,2020-11-05 14:15:36.600041+00,NaN,NaN,after
8,20539,26572.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26572,2020-10-31 05:29:08.4718+00,2020-10-31 05:29:08.471822+00,2020-11-28 19:41:43.667114+00,NaN,NaN,after
9,15431,22106.0,postpone,cancelled,NaN,5.0,Postpone Cash Request 22106,2020-10-21 08:48:50.696961+00,2020-10-21 08:48:50.696991+00,NaN,2020-11-04 22:00:00+00,2020-11-05 11:00:00+00,before

In [59]:
df_cash_req.head(10)

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
5,2145,100.0,money_back,2020-05-23 20:58:55.129432+00,2020-07-06 03:36:03.023911+00,9489.0,2020-05-24 12:40:33.05491+00,NaN,2020-06-06 22:00:00+00,2020-05-26,2020-07-06 03:36:03.023521+00,regular,NaN,completed,2020-06-12 22:27:04.837525+00,2020-07-06 03:36:03.030904+00
6,3512,100.0,rejected,2020-06-16 17:07:38.452652+00,2020-06-17 10:21:21.364746+00,14631.0,2020-06-17 10:21:21.360742+00,NaN,2020-07-11 23:51:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
7,654,100.0,rejected,2020-02-10 01:11:53.80827+00,2020-02-10 11:53:32.104131+00,NaN,2020-02-10 09:11:21.350695+00,309.0,2020-03-11 01:11:53.80793+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
8,5672,100.0,canceled,2020-06-28 12:06:33.71284+00,2020-06-28 12:06:33.712853+00,NaN,NaN,2499.0,2020-07-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
9,71,90.0,rejected,2019-12-10 19:51:23.911206+00,2019-12-12 15:06:11.192888+00,897.0,2019-12-12 15:06:11.190299+00,NaN,2019-12-17 19:51:23.910748+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [60]:
df_fees["cash_request_id"].isna().sum()

np.int64(4)

In [61]:
# merging two dataframes
df_fees.drop(columns=["id"], inplace=True)

In [62]:
df_fees

,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after
...,...,...,...,...,...,...,...,...,...,...,...,...
21056,20262.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 20262,2020-10-10 06:42:22.822743+00,2020-10-13 14:25:04.18049+00,2020-11-17 05:14:00.080854+00,NaN,NaN,after
21057,26764.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 26764,2020-10-31 15:24:18.680694+00,2020-10-31 15:24:18.680715+00,2020-12-16 07:10:54.697639+00,NaN,NaN,after
21058,25331.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 25331,2020-10-27 17:28:51.749177+00,2020-10-27 17:28:51.7492+00,2020-11-18 04:35:42.915511+00,NaN,NaN,after
21059,23628.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 23628,2020-10-23 16:27:52.047457+00,2020-10-23 16:27:52.047486+00,2020-12-18 05:18:01.465317+00,NaN,NaN,after
21060,20982.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20982,2020-10-14 07:12:43.958192+00,2020-10-14 07:12:43.958219+00,2021-02-12 13:02:46.95022+00,NaN,NaN,after

In [76]:
# merge two tables
df_merge = df_cash_req.merge(df_fees, left_on = "id", right_on = "cash_request_id", how = 'left', suffixes=("_cash", "_fees"))

In [77]:
df_merge.shape

(32094, 28)

In [78]:
df_cash_req.shape

(23970, 16)

In [79]:
df_fees.shape

(21061, 12)

In [80]:
df_merge.tail(3)

,id,amount,status_cash,created_at_cash,updated_at_cash,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,...,status_fees,category,total_amount,reason,created_at_fees,updated_at_fees,paid_at,from_date,to_date,charge_moment
32091,20256,100.0,money_back,2020-10-10 05:40:55.700422+00,2021-02-05 13:14:19.707627+00,64517.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-12,...,accepted,NaN,5.0,Instant Payment Cash Request 20256,2020-10-10 05:42:11.679401+00,2020-10-13 14:25:03.460352+00,2021-02-05 13:14:19.731397+00,NaN,NaN,after
32092,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,...,accepted,NaN,5.0,Postpone Cash Request 19886,2020-10-10 21:22:00.083739+00,2020-10-13 14:25:18.501716+00,2020-10-10 21:22:04.456828+00,2020-11-06 22:00:00+00,2020-12-06 11:00:00+00,before
32093,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00,2021-01-05 15:45:52.645536+00,44867.0,NaN,NaN,2021-02-05 11:00:00+00,2020-10-10,...,accepted,NaN,5.0,Instant Payment Cash Request 19886,2020-10-08 14:17:09.126909+00,2020-10-13 14:25:16.470702+00,2021-02-11 04:24:07.529815+00,NaN,NaN,after